*{
    margin: 0;
    font-family: sans-serif;
}
.top-body{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.top-pic-container{
    background-color: gray;
    width: 465px;
    height: 250px;
}
.top-pic-container img{
    height: 100%;
}

.top-text{
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-right: 50px;
}
.main-text{
    width: 300px;
    font-size: 35px;
    font-weight: bold;
}
.sub-text{
    margin-top: 5px;
    width: 400px;
    color: rgb(202, 197, 197);
}
.signup-btn{
    margin-top: auto;
    width: 150px;
    font-weight: bold;
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    border-style: none;
    padding: 5px 20px;

}
.preview-row-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-row-title{
    color: #1f2937;
    font-size: 34px;
    font-weight: 800;
}


.pic-preview{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #3882f6;
    border-radius: 25px;
    width: 200px;
    height: 200px;
}
.preview{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preview-row{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.meta-logo{
    width: 90%;
}
.apple-logo{
    width: 100%;
}
.netflix-logo{
    width: 100%;
}
.google-logo{
    width: 90%;
}
.amazon-logo{
    width: 100%;
}

.description{
    color: #1f2937;
}
.quote-container{
    background-color: #e5e7eb;
    margin-top: 100px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.quote{
    width: 800px;
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    font-style:italic;
    display: flex;
    flex-direction: column;
}
.quote-author{
    display: flex;
    margin-left: auto;
}

.sign-up{
    background-color: #3882f6;
    display: flex;
    height: 100px;
    margin: 100px 150px;
}
.sign-up-text{
    color: white;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.sign-up-main-text{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.sign-up-sub-text{
    color: white;
    font-size: 14px;
}
.end-sign-up-btn{
    color: white;
    font-weight: bold;
    align-self: center;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 25px;
    margin-left: auto;
    margin-right: 50px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    background-color: #1f2937;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer div{
    color: white;
    z-index: 1;
}


